[submodule "SpaceInvaders"]
	path = SpaceInvaders
	url = git@github.com:jeuvideops/SpaceInvaders.git
[submodule "TwoSpaceships"]
	path = TwoSpaceships
	url = git@github.com:jeuvideops/TwoSpaceships.git
